html , body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: #333333;
}

@font-face {
    font-family: OpenSans;
    src: url('Fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Merriweather;
    src: url('Fonts/Merriweather-Bold.ttf');
}

@font-face {
    font-family: OriginalSurfer;
    src: url('Fonts/OriginalSurfer.ttf');
}

.navbar {
    z-index: 1;
    width: 100%;
    padding: 10px;
    position: fixed;
    background-color: white;
    box-shadow: 0px 3px 5px darkgray;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 50px;
}

#title {
    color: navy;
    transition: 1s;
    font-size: 27px;
    font-weight: bold;
    margin-left: 50px;
    letter-spacing: 1px;
    font-family: OpenSans;
}

#title:hover {
    opacity: 0.7;
    transition: 1s;
    letter-spacing: 3px;
}

#page {
    color: white;
    margin-left: 30px;
    padding: 7px 15px;
    border-radius: 5px;
    border-radius: 5px;
    font-family: OpenSans;
    background-color: steelblue;
}

#pages {
    transition: 0.3s;
    margin-left: 30px;
    padding: 7px 15px;
    color: darkblue;
    border-radius: 5px;
    border-radius: 5px;
    font-family: OpenSans;
}

#pages:hover {
    color: white;
    transition: 0.3s;
    background-color: steelblue;
}

@media only screen and (max-width: 980px) {
    .navbar-nav {
        margin-left: 0px;
    }
    #title {
        padding: 10px;
        font-size: 20px;
        margin-left: 10px;
        letter-spacing: 0px;
    }
}

.head {
    margin-top: 120px;
}

#about {
    color: navy;
    letter-spacing: 1px;
    font-family: Merriweather;
}

.hr {
    width: 40px;
    border-top: 2px solid navy;
}

.mainCard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
}


.card1 , .card2 , .card3 , .card4 , .card5 , .card6 , .card7 , .card8 , 
.card9 , .card10 , .card11 , .card12 ,.card13 , .card14 , .card15 {
    width: 350px;
    height: 230px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.card1:hover , .card2:hover , .card3:hover , .card4:hover , .card5:hover , .card6:hover , .card7:hover , .card8:hover , 
.card9:hover , .card10:hover , .card11:hover , .card12:hover ,.card13:hover , .card14:hover , .card15:hover {
    transition: 0.3s;
    border: 5px solid navy;
}

#myImg0 , #myImg1 , #myImg2 , #myImg3 , #myImg4 , #myImg5 ,
#myImg6 , #myImg7 , #myImg8 , #myImg9 , #myImg10 , #myImg11 ,
#myImg12 , #myImg13 , #myImg14 {
    width: 350px; 
    height: 220px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}
  
#myImg0:hover , #myImg1:hover , #myImg2:hover , #myImg3:hover , #myImg4:hover , #myImg5:hover ,
#myImg6:hover , #myImg7:hover , #myImg8:hover , #myImg9:hover , #myImg10:hover , #myImg11:hover ,
#myImg12:hover , #myImg13:hover , #myImg14:hover {
    opacity: 0.8;
}
  
.modal {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: fixed;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.9);
}
  
.modal-content {
    width: 80%;
    height: 480px;
    display: block;
    margin: 0 auto;
    max-width: 750px;
}

#img5 {
    width: 80%;
    height: 420px;
    margin: 0 auto;
    display: block;
    max-width: 750px;
}

#caption0 , #caption1 , #caption2 , #caption3 , #caption4 , #caption5 ,
#caption6 , #caption7 , #caption8 , #caption9 , #caption10 , #caption11 ,
#caption12  , #caption13 , #caption14  {
    width: 80%;
    margin: auto;
    height: 150px;
    color: gold;
    display: block;
    font-size: 30px;
    max-width: 700px;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
}
  
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
.close0 , .close1 , .close2 , .close3 , .close4 , .close5 , 
.close6 , .close7 , .close8 , .close9 , .close10 , .close11 ,
.close12 , .close13 , .close14 {
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    transition: 0.3s;
    font-weight: bold;
    position: absolute;
}
  
.close0:hover , .close1:hover , .close2:hover ,.close3:hover , .close4:hover , .close5:hover ,
.close6:hover , .close7:hover , .close8:hover , .close9:hover , .close10:hover , .close11:hover ,
.close12:hover , .close13:hover , .close14:hover {
    cursor: pointer;
    transition: 0.3s;
    color: dodgerblue;
    text-decoration: none;
}

@media only screen and (max-width: 900px){
.modal-content {
      width: 100%;
      height: 450px;
      margin: 20px auto;
    }
}

@media only screen and (max-width: 700px){
.modal-content {
      width: 98%;
      height: 250px;
      margin: 80px auto 20px auto;
}
#img5 {
    width: 98%;
    height: 200px;
    margin: 80px auto 20px auto;
}
.close0 , .close1 , .close2 , .close3 , .close4 , .close5 , 
.close6 , .close7 , .close8 , .close9 , .close10 , .close11 ,
.close12 , .close13 , .close14 {
    top: 15px;
    right: 15px;
    position: absolute;
}
}

.mainFoot {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    align-items: center;
    flex-direction: row;
    background-color: #333333;
    justify-content: space-around;
}

.foot {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot p {
    color: white;
    font-size: 15px;
    margin-top: 15px;
    font-family: OpenSans;
}