html , body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: #333333;
}

@font-face {
    font-family: OpenSans;
    src: url('Fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Merriweather;
    src: url('Fonts/Merriweather-Bold.ttf');
}

@font-face {
    font-family: OriginalSurfer;
    src: url('Fonts/OriginalSurfer.ttf');
}

.navbar {
    z-index: 1;
    width: 100%;
    padding: 10px;
    position: fixed;
    background-color: white;
    box-shadow: 0px 3px 5px darkgray;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 50px;
}

#title {
    color: navy;
    transition: 1s;
    font-size: 27px;
    margin-left: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: OpenSans;
}

#title:hover {
    opacity: 0.7;
    transition: 1s;
    letter-spacing: 3px;
}

#page {
    color: white;
    margin-left: 30px;
    padding: 7px 15px;
    border-radius: 5px;
    border-radius: 5px;
    font-family: OpenSans;
    background-color: steelblue;
}

#pages {
    transition: 0.3s;
    margin-left: 30px;
    padding: 7px 15px;
    color: darkblue;
    border-radius: 5px;
    border-radius: 5px;
    font-family: OpenSans;
}

#pages:hover {
    color: white;
    transition: 0.3s;
    background-color: steelblue;
}

@media only screen and (max-width: 980px) {
    .navbar-nav {
        margin-left: 0px;
    }
    #title {
        padding: 10px;
        font-size: 20px;
        margin-left: 10px;
        letter-spacing: 0px;
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-around;
}

#tophead {
    width: auto;
    padding: 20px;
    margin-top: 65px;
    background-color: #333333;
}

#tophead h1 {
    font-size: 30px;
    padding-top: 15px;
    color: goldenrod;
    display: inline-block;
    font-family: OriginalSurfer;
}

#about {
    color: navy;
    margin-top: 120px;
    font-family: Merriweather;
}

.hr {
    width: 40px;
    border-top: 2px solid navy;
}

iframe {
    pointer-events: none;
}

.map {
    transition: 2s;
    cursor: pointer;
    padding-top: 437px;
}

.map:hover {
    transition: 2s;
    background-color: navy;
}

@media only screen and (max-width: 900px) {
    iframe {
        width: 98%;
        height: 350px;
    }
    .map:hover {
        background-color: transparent;
    }
}

.fa-phone , .fa-whatsapp {
    transition: 0.5s;
    margin-top: 17px;
}

.fa-phone , .fa-whatsapp {
    color: green;
    font-size: 25px;
    transition: 0.5s;
    margin-right: 10px;
}

.fa-map-marker {
    color: green;
    font-size: 25px;
    transition: 0.5s;
    margin-right: 20px;
}

h5 {
    color: #666666;
    margin-top: 20px;
}

.address {
    width: 280px;
    margin-top: 0px;
    font-size: 17px;
}

.card1 , .card2 {
    width: 400px;
    height: 200px;
    display: flex;
    transition: 1s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0fa;
}

.card1:hover , .card2:hover {
    transition: 2s;
    box-shadow: 0 0 5px gray;
}

.mainCard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    flex-direction: row;
    justify-content: space-around;
}

.card3 , .card4 {
    width: 150px;
    height: 50px;
    display: block;
    transition: 1s;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.card3 h4 , .card4 h4 {
    color: navy;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: OpenSans;
}

.two {
    width: 20%;
    border: 1px solid navy;
}

.card3:hover + .card1 , .card4:hover + .card2  {
    transition: 2s;
    box-shadow: 0 0 5px gray;
}

.fa-phone:hover , .fa-whatsapp:hover , .fa-map-marker:hover {
    color: navy;
    transition: 0.5s;
}

.mainCard1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.card5 {
    width: 450px;
    height: 500px;
    display: flex;
    transition: 1s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0fa;
}

.day  {
    padding-right: 80px;
}

.day h5 , .time h5 {
    font-size: 18px;
}

.day hr , .time hr {
    border-color: dodgerblue;
}

#r {
    border-color: #f0f0fa;
}

#getdir {
    width: 50%;
    border: 0px;
    padding: 15px;
    transition: 1s;
    color: white;
    display: block;
    margin-top: 40px;
    border-radius: 60px;
    font-family: OpenSans;
    background-color: navy;
}

#getdir:hover {
    transition: 1s;
    letter-spacing: 2px;
    background-color: navy;
}

@media only screen and (max-width: 900px) {
    #hours p {
        width: auto;
    }
    .card1 , .card2 {
        width: 350px;
    }
}

@media only screen and (max-width: 1099px) {
    .mainCard {
        flex-direction: column;
    }
    .card1 , .card2 , .card3 , .card4 {
        margin: 15px auto;
    }
    #about {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 450px) {
    .card5 {
        width: 350px;
        margin: 0 auto;
    }
}

.mainCard2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    background-color: #333333;
    justify-content: space-around;
}

.card6 {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card6 p {
    color: white;
    margin-top: 15px;
    font-size: 13.5px;
    font-family: OpenSans;
}